.detailCard {
    border: 1px solid black;
    justify-self: auto;
    border-radius: .5em;
    display: inline-block;
    width: 900px;
    height: 750px;
    text-align: center;
    padding: 1em;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: white;
}

.genreCategory {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    display: inline-block;
    padding: 0.5em;
}