.App {
  text-align: center;
}

.header {
  background-color: black;
  color: white;
  height: 4em;
  padding-top: 2.8em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navBar {
  background-color: white;
  padding-top: 1em;
  padding-bottom: 1.5em;
  border-bottom: solid 3px black;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-right: 2em;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav li a {
  text-decoration: none;
  color: black;
}
