.card {
    border: 1px solid black;
    justify-self: auto;
    border-radius: .5em;
    display: inline-block;
    width: 300px;
    height: 350px;
    text-align: center;
    padding: 1em;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: white;
}

.display {
    width: 20%;
    float: left;
    overflow: hidden;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 8em;
}

.button {
    margin-top: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}